body {
  margin: 0;
  height: 100%;
  overflow: hidden; /* disable scrolling */
}

#canvas {
  border: solid 1px black;
  position: relative;
  background: rgb(0, 125, 0);
}

#canvasContainer {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 600px;
}

.masthead {
  /* text-align: center; */
  min-height: 700px;
  padding: '1em 0em';
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

#error {
  position: fixed;
  top: 1em;
  z-index: 99999;
  left: 50%;
  transform: translateX(-50%);
}

#leaderboard {
  position:fixed;
  top:1em;
  right:1em;
  color: #858AE3;
  font-weight: bold;
}

#mainMenu {
  background-color: #23B5D3
}

#overview > * {
  color: #3F4184;
  font-weight: bold;
}

